<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}} - School Shooting Scoreboard</title>
    <link rel="stylesheet" href="style.css" type="text/css">
  </head>
  <body>
    <!--<div id="country_title">{{page.title}}</div>-->
      <div id="scoreBoard">
      <div class="stat" id="sinceLast">
          <div class="number" id="daysSince"></div>
          <div class="label">DAYS SINCE LAST SCHOOL SHOOTING</div>
      </div>
      <div class="stat" id="killings">
          <div class="number">{{page.kills}}</div>
          <div class="label">DEATHS</div>
      </div>
      <div class="stat" id="shootings">
          <div class="number">{{page.shootings}}</div>
          <div class="label">SCHOOL SHOOTINGS</div>
      </div>
      <div class="stat" id="injuries">
          <div class="number">{{page.injuries}}</div>
          <div class="label">INJURIES</div>
      </div>
      </div>
      <div id="info">
          <p>since Columbine (4/20/1999)</p>
          <p>In cases where the exact count is unknown, the lower estimate is used.</p>
          <p>source: https://en.wikipedia.org/wiki/List_of_school_massacres_by_death_toll</p>
          <p>all countries: {% assign sorted = (site.countries | sort: 'title') %}
{% for country in sorted %}
            {% if country.title == page.title %} {{country.title}}{% else %}<a href="{{country.url}}">{{country.title}}</a>{% endif %}
            {% if forloop.last == false %}|{% endif %}
{% endfor %}
        </p>
      </div>
    <script>
var d = new Date();
d.setFullYear({{page.last_shooting}});
var today = new Date();

var one_day = 1000*60*60*24;
var days_between = "0000" + Math.round((today.getTime() - d.getTime()) / one_day);
document.getElementById('daysSince').innerHTML = days_between.substr(-4);
    </script>
  </body>
</html>
